<!DOCTYPE html>
<html>
<head>
	<title>Kamus bahasa</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/hana.css">
</head>
<body>
	<div class="container" ng-controller="MainCtrl">
		<form>
		  	<div class="form-group">
			    <label for="exampleInputEmail1">Masukkan</label>
			    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" ng-model="input_huruf">
		 	</div>
		 	<div class="form-group">
			    <label for="exampleInputEmail1">Dalam Aksara Jawa</label>
			    <textarea readonly id="hasil_hana" ng-model="hasil_hana"></textarea>
		 	</div>
		</form>
	</div>
	<script type="text/javascript" src="lib/angularjs/angular.min.js"></script>
	<script type="text/javascript" src="js/kamus.js"></script>
</body>
</html>